@import "compass/css3/";
@import "variables";

form {
  max-width: 600px;
  margin: 30px auto;
  .form-item {
    width: 100%;
    .form-control {
      width: 100%;
    }
  }
  label {
    // display: none;
  }
  .form-item {
    margin: 0 0 30px;
    &.form-type-textfield,
    &.form-type-textarea,
    &.form-type-password,
    &.form-type-url,
    &.form-type-email,
    &.form-type-entity-autocomplete {
      position: relative;
      input.form-control,
      textarea.form-control {
        display: block;
        background: none;
        padding: 0;
        border-width: 0;
        border-color: transparent;
        border-bottom: 1px solid lighten($gray-base, 75%);
        @include border-radius(0);
        line-height: 1.9;
        color: transparent;
        @include transition(all 0.28s ease);
        box-shadow: none;
        margin: 0;
        height: 3rem;
        width: 100%;
        outline: none;
        &::-webkit-input-placeholder {
          color: transparent;
        }
      }
      textarea.form-control {
        height: 6rem;
      }
      label {
        display: block;
        // color: $filter-text-color;
        position: absolute;
        pointer-events: none;
        z-index: 1;
        font-weight: normal;
        @include transition(all 0.28s ease);
        top: 1px;
      }
      &.focus {
        input.form-control,
        textarea.form-control {
          outline: none;
          color: inherit;
          border-color: $gray;
        }
        label {
          top: -15px;
          font-size: 85%;
          color: $brand-primary;
        }
      }
    }
    &.form-type-select {
      label {
        display: block;
      }
      .select-wrapper {
        border-bottom: 1px solid #555;
      }
      select {
        border: none;
        @include box-shadow(none);
        @include border-radius(0);
      }
    }
    &.form-type-item {
      label {
        display: inline-block;
        min-width: 200px;
      }
    }
    &.form-type-entity-autocomplete {
      .input-group-addon {
        background: none;
        border: none;
      }
    }
  }
  .form-type-checkbox {
    input {
      margin-top: 5px;
    }
  }
  &.node-form {
    .form-type-textarea {
      label {
        position: static;
      }
    }
  }
  .form-actions {
    text-align: center;
    margin-top: 70px;
    width: 100%;
  }
}
