.view-page {
  max-width: 800px;
  margin: auto;
  .views-row {
    border-bottom: 1px solid $gray-lighter;
    padding: 30px 0;
    &:last-child {
      border: none;
    }
  }
  .views-field {
    @include tabular-field();
  }
  .views-field-field-first-name {
    display: block;
    .field-content {
      border: none;
      padding: 20px 0;
      display: block;
    }
  }
  a, a:hover, a:focus {
    text-decoration: none;
  }
}
