@import "compass/css3/";
@import "variables";

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 35px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  &:focus {
    outline: none;
  }

  span {
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    height: 4px;
    background: $brand-primary;
    width: 100%;
    &:before,
    &:after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $brand-primary;
      content: "";
    }

    &:before {
      top: -15px;
    }

    &:after {
      bottom: -16px;
    }
  }
}



.c-hamburger--htx {
  background-color: transparent;
  span {
    // transition: background 0s 0.3s;
    &:before,
    &:after {
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0s;
    }

    &:before {
      transition-property: top, transform;
    }

    &:after {
      transition-property: bottom, transform;
    }
  }
  &.is-active {
    background-color: $white;
    span {
      background: none;

      &:before {
        top: 0;
        transform: rotate(45deg);
      }

      &:after {
        bottom: 0;
        transform: rotate(-45deg);
      }

      &:before,
      &:after {
        transition-delay: 0s, 0.3s;
      }
    }
  }
}


/***********/


#block-dcd16-main-menu {
  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.84);
    z-index: 200;
    width: 100%;
    display: none;
  }
  > ul {
    @include transition(all .25s);
    * {
      @include transition(all .25s);
    }
    font-size: 14px;
    position: fixed;
    top: 0;
    left: -350px;
    z-index: 200;
    width: 300px;
    height: 100%;float: none;
    display: inline-block;
    background: #fff;
    padding-top: 100px;
    @include box-shadow(0px 0 11px $gray-light);
    > li {
      margin-bottom: 20px;
      > a {
        font-size: 16px;
        &:before {
          content: '';
          width: 0px;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          background: $brand-secondary;
          @include transition(width .25s);
        }
        &:hover {
          &:before {
            width: 100%;
          }
        }
      }

    }
    li {
      float: none;
      display: block;
      &.open {
        background: $brand-secondary !important;
        font-weight: bold;
      }
      &:hover, &:focus {
        background: transparent;
      }
      a {
        padding: 15px;
        padding-left: 55px;
        background: transparent;
        color: $brand-primary;
        &:hover, &:focus {
          background: transparent;
        }
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
  .dropdown-menu {
    position: relative;
    box-shadow: none;
    border: none;
    width: 100%;
    float: none;
    background: transparent;
    margin-left: 10px;
  }
  &.main-menu-show {
    &:before {
      display: block;
    }
    > ul {
      left: 0;
    }
  }
}


/***********/

#block-menuhamburgertrigger {
  position: absolute;
  left: 50px;
  top: 50px;
  z-index: 300;
}



@media (max-width: 1200px) {}
@media (max-width: 960px) {
  #block-menuhamburgertrigger {
    top: 20px;
    left: 20px;
  }
  #block-dcd16-main-menu {
    > ul {
      overflow: scroll;
      li a {
        padding: 10px 10px 10px 25px;
      }
    }
  }
}
@media (max-width: 640px) {
  .path-frontpage #block-menuhamburgertrigger {
    top: 20px;
    left: 45%;
  }
  #block-dcd16-main-menu {
    > ul {
      width: 100%;
      left: -110%;
      margin: 0;
      text-align: center;
      li a {
        padding: 10px;
        text-align: center;
      }
    }
    .dropdown-menu {
      margin: 0;
    }
    &.main-menu-show > ul {
      left: 0;
      padding-top: 50px;
    }
  }
}




// User menu
#block-dcd16-account-menu {
  position: fixed;
  bottom: -5px;
  right: -5px;
  z-index: 1000;
  background: $brand-primary;
  @include transition(all 0.25s);
  // border: 5px solid $brand-primary;
  @include border-radius(9999px 0 0);
  ul.menu {
    margin: 0;
    li {
      a {
        color: $white;
        background: transparent;
        padding: 30px 10px 10px 30px;
        font-size: 15px;
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
        &:before {
          content: "\e008";
          font-family: 'Glyphicons Halflings';
          display: block;
          font-size: 30px;
          margin-bottom: 10px;
        }
        &:hover {
          color: $white;
          background: transparent;
        }
      }
    }
  }
  &:hover {
    bottom: 0px;
    right: 0px;
  }
}
.user-anon {
  #block-dcd16-account-menu ul.menu li a {
    padding: 30px 25px 10px 40px;
  }
}


@media (max-width: 640px) {
  #block-dcd16-account-menu {
    bottom: 60%;
    @include border-radius(0);
    @include transform(rotate(-90deg));
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    right: 0;
    ul.menu {
      li {
        float: left;
        a {
          padding: 12px 10px 8px;
          line-height: 100%;
          &:before {
            content: none;
          }
        }
      }
    }
  }
}
