.path-user {
  &.user-logged-in h1.page-header {
    display: none;
  }
  article {
    max-width: 800px;
    margin: auto;
    text-align: center;
    .field {
      @include tabular-field();
    }
    .field--type-text-long {
      display: block;
      margin: 40px 0;
    }
    .field--name-field-first-name, .field--name-field-last-name {
      font-size: 4.5em;
      font-weight: bold;
      color: #2e2e2e;
      text-align: center;
      display: inline-block;
      font-family: 'Josefin Sans', sans-serif;
      margin: 0 15px;
      width: auto;
    }
    .field--type-image {
      display: block;
      img {
        margin: auto;
      }
    }
    .field--name-field-drupal-profile {
      display: block;
      font-size: 20px;
      margin: 40px 0;
      a {
        word-wrap: break-word;
      }
    }
  }
}
