.path-attendees {
  .views-exposed-form {
    .form-item {
      margin-bottom: 20px;
    }

    .input-group {
      width: 100%;
    }
  }

  .views-row {
    .p-0 {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
