
@font-face {
  font-family: 'CircularAir Black';
  src: url("../assets/fonts/Circular-Air-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'CircularAir Bold';
  src: url("../assets/fonts/Circular-Air-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'CircularAir Book';
  src: url("../assets/fonts/Circular-Air-Book.ttf") format("truetype");
}

@font-face {
  font-family: 'CircularAir Light';
  src: url("../assets/fonts/Circular-Air-Light.ttf") format("truetype");
}