.footer {
  clear: both;
  background: linear-gradient(162.47deg, $footer-gradient-left 2.8%, $footer-gradient-right 101.5%);
  color: #fff;
  text-align: center;
  padding: 20px 20px 0;
  position: relative;

  &:after {
    background-image: url('../images/footer.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 90%;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .region-footer {
    display: flex;
    padding: 40px 180px 150px;
    justify-content: space-between;
    text-align: left;
    position: relative;
    z-index: 10;

    nav, section {
      a {
        color: inherit;
      }
    }
    section {
      ul:not(.contextual-links) {
        display: flex;
        list-style: none;
        padding: 0;

        li {
          a {
            font-size: 0;

            &:before {
              display: block;
              content: '';
              height: 30px;
              margin-top: 15px;
              width: 30px
            }
          }

          &.facebook {
            a:before {
              background: url('../images/facebook.svg') no-repeat;
            }
          }

          &.twitter {
            a:before {
              background: url('../images/twitter.svg') no-repeat;
            }
          }
        }
      }
    }
    > span {
      left: 37.5%;
      position: absolute;
      top: 50%;

      a {
        color: $white;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  h2 {
    color: $white;
    font-family: 'CircularAir Light';
    font-size: 20px;
    text-transform: capitalize;
    margin: 0 0 20px;
    padding: 0;
    font-weight: bold;
  }

  .nav > li > a {
    padding-left: 0;

    &:hover {
      background: transparent;
    }
  }

  .simplenews-subscriber-form {
    form {
      margin-top: 0;
    }

    .form-item-message {
      font-family: 'CircularAir Light';
      font-size: 20px;
      font-weight: bold;
    }

    .form-group {
      margin: 0;
    }

    .form-type-email {
      margin: 10px 0 20px;

      .form-email {
        border: 1px solid $white;
      }
    }

    .form-actions {
      .button {
        background: $white;
        border: 0;
        color: $subscribe-button;
        font-size: 16px;

        &:hover {
          border: 0;
          color: $subscribe-button;
        }
      }
    }
  }
}
@media (max-width: 768px){
  .footer{
    .region-footer{
      padding: 40px;
      flex-wrap: wrap;
      > span {
        left: 37.5%;
        position: absolute;
        top: 66%;
      }
      section#block-simplenewssubscription {
        width: 33%;
      }
    }
    .simplenews-subscriber-form {
      .form-group{
        margin-top: -5px;
      }
    }
  }
}
@media (max-width: 480px) {
  .footer{
    .region-footer{
      > span {
        left: 47.5%;
        position: absolute;
        top: 82%;
      }
      section#block-simplenewssubscription {
        width: 100%;
      }
      section#block-dcd19-footerblock{
        width: 100%;
      }
    }
    h2{
        text-align: left;
        margin-top: 10px;
    }
  }
}
@media (max-width: 375px) {
.footer{
  .region-footer{
    > span {
      left: 54.5%;
      top: 79%;
    }
  }
}
}
@media (max-width: 320px) {
  .footer{
    .simplenews-subscriber-form {
      .form-actions {
        .button{
          margin-top: 20px;
        }
      }
    }
    .region-footer {
      > span{
        left: 63.5%;
        top: 77%;
      }
    }
  }
}
