// @import "compass/css3/";
@import "variables";
@import "fonts";

form {
  &:not(.user-register-form) {
    max-width: 600px;
    margin: 30px auto;
  }
  .form-item {
    width: 100%;
    .form-control {
      width: 100%;
    }
  }
  label {
    // display: none;
  }
  .form-item {
    margin: 0 0 30px;
    &.form-type-textfield,
    &.form-type-textarea,
    &.form-type-password,
    &.form-type-url,
    &.form-type-email,
    &.form-type-number,
    &.form-type-entity-autocomplete {
      position: relative;
      input.form-control,
      textarea.form-control {
        font-family: CircularAir Book;
        display: block;
        background: none;
        padding: 0;
        border: 1px solid $input-outline;
        border-radius: 0;
        // @include border-radius(0);
        line-height: 1.9;
        color: transparent;
        @include transition(all 0.28s ease);
        box-shadow: none;
        margin: 0;
        height: 3rem;
        width: 100%;
        outline: none;
        text-indent: 12px;
        &::-webkit-input-placeholder {
          color: transparent;
        }
      }
      input.form-control {
        height: 48px;
      }
      label {
        margin-bottom: 12px;
        font-family: CircularAir Book;
        font-weight: normal;
      }
      textarea.form-control {
        height: 12rem;
      }
      &.focus {
        input.form-control,
        textarea.form-control {
          outline: none;
          color: inherit;
          border-color: $gray;
          border: 2px solid $input-outline;
        }
      }
    }
    &.form-type-select {
      label {
        display: block;
      }
      .select-wrapper {
        border-bottom: 1px solid #555;
      }
      select {
        border: none;
        @include box-shadow(none);
        // @include border-radius(0);
      }
    }
    &.form-type-item {
      label {
        display: inline-block;
        min-width: 200px;
      }
    }
    &.form-type-entity-autocomplete {
      .input-group-addon {
        background: none;
        border: none;
      }
    }
  }
  .form-type-checkbox {
    input {
      margin-top: 5px;
    }
  }
  &.node-form {
    .form-type-textarea {
      label {
        position: static;
      }
    }
  }
  .form-actions {
    text-align: left;
    margin-top: 20px;
    width: 100%;
  }

  &.user-register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    .form-element {
      width: 100%;

      @media (min-width: 768px) {
        padding: 0 20px;
        width: 50%;
      }

      @media (min-width: 992px) {
        margin: 0 50px;
      }

      &--right {
        label {
          font-family: 'CircularAir Bold';
          font-size: 22px;
          margin-bottom: 30px;
        }

        iframe {
          width: 100% !important;
        }
      }
    }
  }

  &.node-session-form {
    .field--name-field-co-presenter {
      .btn:not(.field-add-more-submit) {
        background: transparent;
        border: 0;
        color: $blue;
        font-size: $font-size-base;
        float: right;
        padding: 0;
      }
    }
  }
}
