.path-frontpage {
  padding: 0 !important;

  #navbar {
    position: absolute;
    top: -50%;
    transition: top 1s cubic-bezier(0.190,1.000,0.220,1.000);
  }
  .row {
    margin: 0;
  }

  &.navbar-fixed {
    #navbar {
      position: fixed;
      top: 0;
    }
  }

  .wrapper-volunteerform {
    background: $gray-lighter;
    display: flex;
    padding: 2em 5em;
    justify-content: space-between;
    .about-us {
      color: $blue-darker;
    }
    #block-aboutusvolunteerformhomepage {
      width: 40%;
    }
    #block-contactblock-2 {
      width: 40%;
      .block-title {
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 0;
      }

      .form-item {
        input::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder {
          color: $placeholder-color;
        }

        input::-moz-placeholder,
        textarea::-moz-placeholder {
          color: $placeholder-color;
        }

        input:-ms-input-placeholder,
        textarea:-ms-input-placeholder {
          color: $placeholder-color;
        }

        input:-moz-placeholder,
        textarea:-moz-placeholder {
          color: $placeholder-color;
        }
      }
    }
  }

  #block-dcd19-callforpapershomepage {
    padding-bottom: 2em;
    .submit-session-btn {
      text-align: center;
    }
    .ckeditor-col-container {
      display: flex;
      padding: 0 5em;
      justify-content: space-between;
      .first-col {
        width: 40%;
        h2 {
          color: $blue-darker;
        }
      }
      .last-col {
        width: 50%;
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-wrap: wrap;
          li {
            width: 28%;
            text-align: center;
            padding: 0 4%;
            margin: 0 0 2em;
            img {
              width: 90px;
            }
            p {
              font-size: 15px;
              margin-top: 1em;
              line-height: 1.3;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  #block-dcd19-keynotespeakerhomepage {
    padding: 0 20px;
  }
  .block-views-blockannouncements-block-1 {
    background: $gray-lighter;
    position: relative;
    margin-top: 6em;
    padding-bottom: 2em;
    &:before {
      width: 100%;
      background: $gray-lighter;
      border-radius: 100%;
      height: 200px;
      position: absolute;
      top: -100px;
      z-index: -1;
    }
    .group-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 5rem;

      @media (max-width: 375px) {
        padding: 0 2.8em;
      }

      .views-row {
        padding: 0.625rem 0;
        width: 100%;

        @media (min-width: 768px) {
          padding-left: 1.875rem;
          padding-right: 1.875rem;
          width: 50%;
        }
      }

      .views-field-title {
        font-family: 'CircularAir Book';
        font-size: $font-size-h3;
      }

      .views-field-body {
        font-family: 'CircularAir Light';

        @media (min-width: 768px) {
          font-size: $font-size-base;
        }
      }
    }
  }

  .region-header {
    background-image: url('../images/top_banner.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    min-height: 550px;

    .logo {
      img {
        height: 200px;
      }
    }
  }

  #block-dcd19-firstbannerhomepage {
    height: calc(100% - 220px);

    .field--name-body {
      height: 100%;
    }
  }

  .first-banner {
    color: $white;
    height: 100%;
    position: relative;

    .title {
      font-family: 'CircularAir Bold';
      font-size: 48px;
      line-height: 1;
      margin-bottom: 7px;
    }

    .social-links {
      margin-top: 15px;

      ul {
        display: flex;
        align-content: center;
        justify-content: center;
        list-style: none;
        padding: 0;

        li {
          a {
            font-size: 0;

            &:before {
              display: block;
              content: '';
              height: 30px;
              width: 30px
            }
          }

          &.instagram {
            a:before {
              background: url('../images/instagram.svg') no-repeat;
            }
          }

          &.facebook {
            a:before {
              background: url('../images/facebook.svg') no-repeat;
            }
          }

          &.twitter {
            a:before {
              background: url('../images/twitter.svg') no-repeat;
            }
          }
        }
      }
    }

    .bottom-info {
      bottom: 0;
      position: absolute;
      width: 100%;

      .date {
        font-size: 24px;
        font-weight: 500;
      }

      .location {
        font-size: 24px;
      }

      .cta {
        margin-top: 10px;
      }
    }
  }

  .cta {
    margin-top: 40px;
    @extend .btn;
    a {
      color: inherit;
    }
  }

  #block-dcd19-mapblockhomepage {
    .two-col-block {
      align-items: center;
      .col-right {
        padding-left: 10%;
        .cta {
          margin-top: 40px;
          @extend .btn;
          a {
            color: inherit;
          }
        }
      }
    }
    iframe {
      width: 100%;
  }
  }

  #block-dcd19-keynotespeakerhomepage {
    > div {
      > div {
        display: flex;
        align-items: center;
        div {
          flex: 50%;
          &:nth-child(1) {
            display: flex;
            justify-content: center;
          }
        }
        .first-col {

        }
        .last-col {
          > p {
            margin: 0;
            &:nth-child(1) {
              font-size: $col-subtitle-text-size;
              font-weight: 600;
              color: $col-text-color;
            }
            &:nth-child(2){
              font-size: $col-subtitle2-text-size;
              color: $col-text-color;
            }
          }
          blockquote {
            &:before {
              color: $gray-darkest;
              content: "\“";
              font-size: 6em;
              line-height: 0.1em;
              margin-right: 0.25em;
              vertical-align: -0.4em;
            }
            border-left: none;
            padding: 60px 100px 0px 0;
            p {
              font-size: $font-size-base;
            }
          }
        }
      }
    }
  }
  #block-dcd19-oursponsorshomepage {
    h2:not(.block-title) {
      font-size: 20px;
      margin: 30px 0;

      @media (min-width: 768px) {
        font-size: 24px;
      }
    }

    .sponsors-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media (min-width: 768px) {
        flex-direction: row;
        margin: 50px;
      }

      .sponsor {
        margin: 0 0 20px;
        @media (min-width: 768px) {
          margin: 0 50px;
        }
      }
    }
  }

  .block-partners {
    padding: 2em 0;

    @media (min-width: 992px) {
      padding: 2em 5em 5em;
    }

    .partners-content-wrapper {
      margin-top: 50px;

      @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin-top: 0;
      }

      .partner {
        text-align: center;
        width: 100%;

        @media (min-width: 768px) {
          width: 50%;
        }

        @media (min-width: 992px) {
          width: 33%;
        }
      }

      img {
        height: 200px;
        max-width: 100%;
        object-fit: contain;

        @media (min-width: 992px) {
          height: auto;
        }
      }
    }
  }
}
@media (max-width: 768px){
  .path-frontpage{
    .first-banner{
      .title{
        font-size:42px;
      }
    }
    .wrapper-volunteerform{
      padding: 2em 1em;
      display: flex;
      flex-wrap: wrap;
      #block-aboutusvolunteerformhomepage {
        width: 100%;
        padding: 40px;
        .ckeditor-col-container{
          .first-col{
            p{
              font-size: 22px;
            }
          }
        }
      }
      #block-contactblock-2 {
        width: 100%;
        padding: 40px;
      }
    }
    #block-dcd19-keynotespeakerhomepage {
      > div {
        > div {
          display: block;
          .last-col {
            > p {
                &:nth-child(1),&:nth-child(2) {
                text-align: center;
                font-size: 24px;
                }
            }
            blockquote {
              padding: 60px;
              p{
                font-size: 22px;
              }
            }
          }
        }
      }
    }
    #block-dcd19-callforpapershomepage {
      .ckeditor-col-container {
        display: block;
        .first-col {
          width: 100%;
          text-align: center;
          margin-bottom: 40px;
          p{
            font-size: 22px;
          }
        }
        .last-col {
          width: 100%;
          ul {
            li {
              width: 33%;
              img {
                width: 140px;
              }
              p{
                font-size: 24px;
              }
            }
          }
        }
      }
      .submit-session-btn {
        a{
          font-size: 22px;
        }
      }
    }

    #block-dcd19-oursponsorshomepage {
      > div {
        ul:not(.contextual-links) {
          li {
            flex: 45%;
          }
        }
      > p {
        width: 230px;
        font-size: 22px;
      }
    }
  }
    .first-banner{
      .bottom-info{
        top:112px;
        p{
          font-size: 23px;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .path-frontpage {
    .region-header{
      .logo{
        margin-top: 0;
      }
    }
    .first-banner {
      .title{
        font-size: 28px;
      }
      .bottom-info {
        top: 100px;
        .date{
          font-size: 20px;
          margin-top: 30px;
        }
        p{
          font-size: 18px;
        }
      }
    }
    #block-dcd19-keynotespeakerhomepage {
      > div {
        > div {
          display: block;
          .last-col {
            > p {
                &:nth-child(1),&:nth-child(2) {
                text-align: center;
                font-size: 18px;
                }
            }
            blockquote {
              padding: 40px;
              p{
                font-size: 18px;
              }
            }
          }
        }
      }
    }

    #block-dcd19-callforpapershomepage {
      .ckeditor-col-container {
        display: block;
        .first-col {
          p{
            font-size: 18px;
          }
        }
        .last-col {
          ul {
            li {
              width: 100%;
              img {
                width: 140px;
              }
              p{
                font-size: 18px;
              }
            }
          }
        }
      }
      .submit-session-btn {
        a{
          font-size: 18px;
        }
      }
    }
    .wrapper-volunteerform{
      padding: 2em 1em;
      #block-aboutusvolunteerformhomepage {
        .ckeditor-col-container{
          .first-col{
            p{
              font-size: 18px;
            }
          }
        }
      }
    }
    #block-dcd19-oursponsorshomepage {
        > div {
        > p {
          width: 200px;
          font-size: 18px;
        }
      }
    }
  }
}
