@import "variables";

html,
body {
  height: 100%;
}

body {
  font-family: 'CircularAir Light';
  font-size: 18px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
}
h1 {
  font-size: 4.5em;
  font-weight: bold;
  color: $gray-darkest;
  text-align: center;
  &.page-header {
    border: none;
    margin: 24px 0;
  }
}

h2.block-title {
  font-size: 4em;
  text-align: center;
  margin: 30px 50px 50px;
  font-weight: bold;
  padding: 13px 0 0;
  color: $blue-darker;
  text-transform: uppercase;
}

.blue-button {
  display: inline-block;
  background: $brand-primary;
  padding: 10px 20px 8px;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  line-height: 100%;
  @include transition(all .25s);
  border: none;
  &:hover {
    background: $brand-secondary;
    color: $brand-primary;
    text-decoration: none;
  }
}

ul.nav.nav-tabs {
  border: none;
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 50px 0;
  &:before,
  &:after {
    content: none;
  }
  li {
    display: table-cell;
    float: none;
    a {
      display: block;
      border: none;
      background: $brand-secondary;
      text-align: center;
      color: $brand-primary;
      text-transform: uppercase;
      opacity: 0.8;
      border-radius: 3px;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      &:hover {
        background: $brand-secondary;
        opacity: 1;
      }
    }
    &.active {
      a,
      a:hover {
        opacity: 1;
        border: none;
        background: $brand-primary;
        color: $brand-secondary;
      }
    }
  }
}

.view-empty {
  text-align: center;
}

.google-card {
  @include box-shadow(0 6px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.1));
  border-radius: 2px;
  @include transition(all 0.25s);
  padding: 20px;
  margin: 20px 0;
}

.region-content {
  padding: 100px 0;
}

.content {
  .field--name-body {
    position: relative;
    text-align: justify;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

.path-frontpage {
  .content {
    .field--name-body {
      background: url(../images/map-india2.jpg) no-repeat 50% 50%;
      background-size: contain;
      padding: 20px 0 50px;
      font-size: 17px;
      line-height: 30px;
      p {
        margin: 25px 0;
      }
    }
  }
}

@mixin tabular-field {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 2px 0;
  border-spacing: 2px 0;
  > div, > span {
    display: table-cell;
    background: $brand-secondary;
    padding: 3px 20px;
    border: 2px solid $brand-secondary;
    vertical-align: middle;
  }
  .field--label, .views-label {
    text-transform: uppercase;
  }
  .field--item,
  .field__items,
  .field-content {
    background: transparent;
  }
  @media (max-width: 768px) {
    margin: 0 0 10px;
    > div, > span {
      display: block;
    }
  }
}


@media (max-width: 1200px) {
}
@media (max-width: 960px) {
}
@media (max-width: 768px) {
  .region-content {
    padding: 30px 0;
  }
}
@media (max-width: 640px) {
  h1 {
    font-size: 3.5em;
  }
  h2.block-title {
    font-size: 3.5em;
    margin: 15px 10px;
  }
  .page-header {
    padding-bottom: 0;
    margin: 30px 0 20px;
  }
  ul.nav.nav-tabs {
    li {
      display: block;
      margin: 1px 0;
    }
  }
  .region-content {
    padding: 15px 0;
  }
  .path-frontpage .content .field--name-body {
    padding: 15px 0;
    p {
      margin: 15px 0;
    }
  }
}

.btn {
  font-size: $font-size-base;
  background: $blue-darkest;
  color: $white;
  padding: 10px 20px;
  &:hover {
    background: $blue-darker;
  }
}
