.header {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $screen-sm-min) {
    flex-direction: row;
    align-items: center;
  }

  .navbar-collapse {
    @media (min-width: $screen-sm-min) {
      flex: 1;
    }
  }
  
  .logo {
    img {
      height: 80px;
    }
  }

  .region-navigation-collapsible {
    @media (min-width: $screen-sm-min) {
      display: flex;
      justify-content: flex-end;
    }
  }
}