@import "variables";

.sponsors {
  padding: 30px 0 100px;
  .view-content {
    text-align: center;
    > h3 {
      font-weight: bold;
      color: $brand-primary;
    }
  }
  &.single-sponsor .view-content > h3 {
    display: none;
  }
  .views-row {
    display: inline-block;
    float: none;
    margin: 20px -5px;
    .img-responsive {
      margin: auto;

    }
    &.Platinum {
      img {
        max-height: 220px;
        width: auto;
      }
    }
    &.Silver {
      img {
        max-height: 180px;
        width: auto;
      }
    }
    &.Bronze {
      img {
        max-height: 140px;
        width: auto;
      }
    }
  }
  h3 {
    font-size: 3em;
    margin: 30px 0 0;
    &:first-child {
      margin-top: 0;
    }
  }
}
